@layout('layouts.master')
@section('content')
    @set('title', 'Home')
    <main class="bg-light main-login-bg">
      <div class="container">
        <h1 class="title">
            Welcome to Fatboar!
        </h1>
    </div>
    </main>
@endsection
