@import url("https://fonts.googleapis.com/css?family=Montserrat:300");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.center-screen {
  align-items: center;
  justify-content: center;
}

/** LOGIN-SIGNUP **/

.main-login-bg {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  min-height: 80vh;
}

.card-signin {
  border: 0;
  /*border-radius: 1rem;*/
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.social-btn .btn {
  color: #fff;
  margin: 10px 0 0 30px;
  font-size: 15px;
  width: 55px;
  height: 55px;
  line-height: 38px;
  border-radius: 50%;
  font-weight: normal;
  text-align: center;
  border: none;
  transition: all 0.4s;
}
.social-btn .btn:hover {
  opacity: 0.5;
}
/** END LOGIN-SIGNUP **/
/*
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.table-hover tbody tr:hover td {
  background: aqua;
}

.wrapper {
  width: 100%;
}
*/

.jumbotron.is-info {
  color: white;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
}

.card .title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}
.card .subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}
