@import url("https://fonts.googleapis.com/css?family=Montserrat:300");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.center-screen {
  align-items: center;
  justify-content: center;
}

/** LOGIN-SIGNUP **/

.main-login-bg {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  min-height: 80vh;
}

.card-signin {
  border: 0;
  /*border-radius: 1rem;*/
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.social-btn .btn {
  color: #fff;
  margin: 10px 0 0 30px;
  font-size: 15px;
  width: 55px;
  height: 55px;
  line-height: 38px;
  border-radius: 50%;
  font-weight: normal;
  text-align: center;
  border: none;
  transition: all 0.4s;
}
.social-btn .btn:hover {
  opacity: 0.5;
}
/** END LOGIN-SIGNUP **/
/*
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.table-hover tbody tr:hover td {
  background: aqua;
}

.wrapper {
  width: 100%;
}
*/

.jumbotron.is-info {
  color: white;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
}

.card .title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}
.card .subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

/* Error page */
.outer {
  position: relative;
}

.site-main {
  z-index: 100;
  flex-grow: 1;
  margin-top: 40px;
  padding: 7vw 4vw;
}

.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

.error-message {
  text-align: center;
}

.error-code {
  margin: 0;
  font-size: 12vw;
  line-height: 1em;
  opacity: 0.3;
}

.error-description {
  margin: 0;
  color: #3b3b4f;
  color: var(--gray75);
  font-size: 3rem;
  line-height: 1.3em;
  font-weight: 400;
}

.error-link {
  display: inline-block;
  margin-top: 5px;
}

/*
:root {
	--dark-blue: #002ead;
	--theme-color: #0a0a23;
	--gray90: #0a0a23;
	--gray85: #1b1b32;
	--gray80: #2a2a40;
	--gray75: #3b3b4f;
	--gray45: #858591;
	--gray15: #d0d0d5;
	--gray10: #dfdfe2;
	--gray05: #eeeef0;
	--gray00: #fff;
	--header-height: 38px;
}
*/

/*Priz Card */
.prize-body {
  background: #eee;
}
.prize-span {
  font-size: 15px;
}
.prize-a {
  text-decoration: none;
  color: #0062cc;
  border-bottom: 2px solid #0062cc;
}
.prize-box {
  padding: 60px 0px;
}

.prize-box-part {
  background: #fff;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
}
.prize-text {
  margin: 20px 0px;
}

